{% extends 'base.html.twig' %}

{% block title %} Species{% endblock %}

{% block body %}
<style>
   .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
   .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
   <h1>Species</h1>

   {% if species|length > 0 %}
    <ul>
        {% for specie in species %}
       <li>{{ specie.name }} </li>
       {% endfor %}
    </ul>
    {% else %}
       <p>There are no species yet</p>
    {% endif %}
</div>
{% endblock %}
